.btn-social{
    position: relative;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    border-color: rgba(0, 0, 0, 0.2);
  }
.btn-google{
    background: #dd4b39;
  }
#registrar{
    background-color: rgb(255, 145, 0);
}
#cancelarRegistro{
    background-color: black;
}
.is-invalid{
  color:red;
}

.letra{
  font-family: Verdana;
}