<button mat-button mat-dialog-close color="warn" style="float:right;">X</button>
<h1 mat-dialog-title><strong>{{action}} Insumo</strong></h1>

<div mat-dialog-content>

  <form [formGroup]="form">

    <input hidden formControlName="id">
    <input hidden formControlName="eliminado">
    <input hidden formControlName="imagen">
    <input hidden formControlName="categoria">
    <input hidden formControlName="unidadMedida">
    <div class="form-row">

      <mat-form-field class="form-group col-md-6">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre insumo" formControlName="nombre">
        <mat-error *ngIf="errorHandling('nombre', 'required')">
          El nombre es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group col-md-6">
        <mat-label>Descripciónn</mat-label>
        <input matInput placeholder="Descripción insumo" formControlName="descripcion">
        <mat-error *ngIf="errorHandling('descripcion', 'required')">
          La descripción es obligatoria.
        </mat-error>
      </mat-form-field>

    </div>

    <div class="form-row">

        <mat-form-field class="form-group col-md-6">
          <mat-label>¿Es insumo?</mat-label>
          <mat-select matInput formControlName="esInsumoOpciones" placeholder="Usuario es cliente">
            <mat-option (click)="dS(true)" value="true">Si</mat-option>
            <mat-option (click)="dS(false)" value="false">No</mat-option>
          </mat-select>
          <input hidden formControlName="esInsumo">
        </mat-form-field>
  
      </div>

    <div class="form-row">

      <mat-form-field class="form-group col-md-6">
        <mat-label>Precio Compra</mat-label>
        <input matInput placeholder="Precio Compra" formControlName="precioCompra">
        <mat-error *ngIf="errorHandling('precioCompra', 'required')">
          El precio de compra es obligatorio.
        </mat-error>
        <mat-error *ngIf="errorHandling('precioCompra', 'pattern')">
            El precio de compra es incorrecto.
        </mat-error>
      </mat-form-field>

      <mat-form-field  class="form-group col-md-6">
        <mat-label>Precio Venta</mat-label>
        <input matInput placeholder="Precio Venta" formControlName="precioVenta">
        <mat-error *ngIf="errorHandling('precioVenta', 'required')">
          El precio de venta es obligatorio.
        </mat-error>
        <mat-error *ngIf="errorHandling('precioVenta', 'pattern')">
            El precio de venta es incorrecto.
        </mat-error>
      </mat-form-field>

    </div>

    <div class="form-row">

        <mat-form-field class="form-group col-md-4">
          <mat-label>Stock Mínimo</mat-label>
          <input matInput placeholder="Stock Mínimo" formControlName="stockMinimo">
          <mat-error *ngIf="errorHandling('stockMinimo', 'required')">
            El stock mínimo es obligatorio.
          </mat-error>
          <mat-error *ngIf="errorHandling('stockMinimo', 'pattern')">
            El stock mínimo es incorrecto.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="form-group col-md-4">
            <mat-label>Stock Actual</mat-label>
            <input matInput placeholder="Stock Actual" formControlName="stockActual">
            <mat-error *ngIf="errorHandling('stockActual', 'required')">
              El stock actual es obligatorio.
            </mat-error>
            <mat-error *ngIf="errorHandling('stockActual', 'pattern')">
              El stock actual es incorrecto.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-group col-md-4">
            <mat-label>Stock Máximo</mat-label>
            <input matInput placeholder="Stock Máximo" formControlName="stockMaximo">
            <mat-error *ngIf="errorHandling('stockMaximo', 'required')">
              El stock máximo es obligatorio.
            </mat-error>
            <mat-error *ngIf="errorHandling('stockMaximo', 'pattern')">
              El stock máximo es incorrecto.
            </mat-error>
          </mat-form-field>
  
      </div>
      <div class="form-row">
      <mat-form-field class="form-group col-md-4">
        <mat-select matInput formControlName="categoriaOpciones"
            placeholder="Categoria">
            <span *ngFor="let categoria of this.localDataCategoria">
                <mat-option
                    (click)="cargarCategoria(categoria)"
                    value="categoria.id">{{categoria.nombre}}</mat-option>
            </span>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-group col-md-4">
        <mat-select matInput formControlName="unidadMedidaOpciones"
            placeholder="Unidad Medida">
            <span *ngFor="let unidadMedida of this.localDataUnidadMedida">
                <mat-option
                    (click)="cargarUnidadMedida(unidadMedida)"
                    value="unidadMedida.id">{{unidadMedida.nombre}}</mat-option>
            </span>
        </mat-select>
    </mat-form-field>
</div>

  <div class="form-row">
    <div class="form-group">
      <h5><em>Selecciona foto ilustrativa del Insumo</em></h5>
      <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
    </div>
    <div>
      <input #imagenInsumo type="text" [value]="urlImage | async" id="urlImagen" hidden>
    </div>
  </div>

    <div class="container-button">
      <button mat-raised-button color="primary" (click)="onAction()">{{action}}</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
    </div>

  </form>

</div>