<div class="modal fade" id="modalIngreso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #btnClose>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Ingresar</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form  name="formLogin" [formGroup]="formLogin" (ngSubmit)="onLogin(formLogin)">
                
                  <label for="email1">Correo Electronico</label>
                  <input formControlName="email" name="email" type="email" class="form-control"  aria-describedby="emailHelp" required>
                  <div *ngIf ="formLogin.controls['email'].invalid &&
                                    formLogin.controls['email'].touched"
                                class="is-invalid">
                          Ingrese un correo electronico valido.
                  </div>
                  <div>   
                    <label for="password">Contraseña</label>
                    <input formControlName="password" name="password" type="password" class="form-control" required>
                    <div *ngIf ="formLogin.controls['password'].invalid &&
                                    formLogin.controls['password'].touched"
                                class="is-invalid">
                                La contraseña debe tener al menos 5 caracteres
                    </div> 
                  </div>
                
                <div class="modal-footer">
                    <div class="is-invalid" *ngIf="errormsg != ''">
                        {{errormsg}}
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelarLogin">Cancelar</button>
                    <button type="submit" class="btn btn-primary" #btnClose  id="ingresar">Ingresar</button>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-block btn-social btn-google" #btnClose (click)="onLoginGoogle()">
                        <span class="fa fa-google"></span>
                        Ingresar con Google 
                      </button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div> 