/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.background {
  background: -webkit-linear-gradient(360deg, #50c9c3 10%, #96deda 360%);
  background: -o-linear-gradient(360deg, #50c9c3 10%, #96deda 360%);
  background: linear-gradient(360deg, #50c9c3 10%, #96deda 360%);
}
.centrar {
  text-align: center !important;
}

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
